{% extends "crossword/list_clues.twig" %}

{% block dynamic_crossword %}

<div class="col-12 py-3 text-light">
    <h3>Clue {{ clue.id }}{{ clue.direction|upper }}</h3>
</div>
<div class="col-12">
    <form method="POST" action="">
        <div class="form-group">
            <label class="text-light">{{ clue.clue|replace({'_':'_____'}) }} ({{ clue.answer|length}} letters)</label>
            <input type="text" class="form-control" name="answer">
            {% if  messages is not empty %}
                <small class="form-text text-muted"><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ messages }}</small>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-success mt-3">Submit Answer</button>
        <hr>
        <small class="form-text text-muted">Not sure? <a href="puzzles/crossword"><i class="fas fa-backward"></i> Return to crossword</a></small>
    </form>
</div>

{% endblock %}